name: Deploy Strapi to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # <-- CAMBIO 1: Nuevo nombre de imagen
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/hello-strapi:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            # Crear la carpeta sigue igual
            mkdir -p /home/ec2-user/strapi-data

            # <-- ARREGLO: Añadir 'sudo'
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/hello-strapi:latest

            # <-- ARREGLO: Añadir 'sudo'
            sudo docker stop strapi-container || true

            # <-- ARREGLO: Añadir 'sudo'
            sudo docker rm strapi-container || true

            # (Tu script de deploy en GitHub Actions)

# ... (los comandos de pull, stop, rm) ...

# Fíjate en la última línea que añadimos
            sudo docker run -d \
              -p 1337:1337 \
              --name strapi-container \
              -v /home/***/strapi-data:/app/.tmp \
              ***/hello-strapi:latest \
  strapi develop
